
    <div id="traveltable" class="login-wrapper d-flex align-items-center table ">
        <div class="container form-login">
            <h2 class="d-flex justify-content-center">Administración de Viajes</h2>
            <table class="table table-condensed table-responsive">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Viaje</th>
                    <th>Descripción</th>
                    <th>Tipo</th>
                    <th>Precio</th>
                    <th>Activo</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>John</td>
                    <td>Doe</td>
                    <td>john@example.com</td>
                    <td>test1</td>
                    <td>test1</td>
                    <td><input type="checkbox"></td>
                </tr>
                <tr>
                    <td>Mary</td>
                    <td>Moe</td>
                    <td>mary@example.com</td>
                    <td>test1</td>
                    <td>test1</td>
                    <td><input type="checkbox"></td>
                </tr>
                <tr>
                    <td>July</td>
                    <td>Dooley</td>
                    <td>july@example.com</td>
                    <td>test1</td>
                    <td>test1</td>
                    <td><input type="checkbox"></td>
                </tr>
                <tr>
                    <td>John</td>
                    <td>Doe</td>
                    <td>john@example.com</td>
                    <td>test1</td>
                    <td>test1</td>
                    <td><input type="checkbox"></td>
                </tr>
                <tr>
                    <td>John</td>
                    <td>Doe</td>
                    <td>john@example.com</td>
                    <td>test1</td>
                    <td>test1</td>
                    <td><input type="checkbox"></td>
                </tr>
                <tr>
                    <td>John</td>
                    <td>Doe</td>
                    <td>john@example.com</td>
                    <td>test1</td>
                    <td>test1</td>
                    <td><input type="checkbox"></td>
                </tr>
                <tr>
                    <td>John</td>
                    <td>Doe</td>
                    <td>john@example.com</td>
                    <td>test1</td>
                    <td>test1</td>
                    <td><input type="checkbox"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
