<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>GH Travels</title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
    <style>
        body
        {
            background-color: #545454;
            width: auto;
            height: auto;
        }
        table
        {
            background-color: #545454;
        }

    </style>
</head>
<body>
<table cellspacing="0" cellpadding="0" border="0" width="100%">
    <tr>
        <td class="navbar navbar-inverse" align="center">
            <!-- This setup makes the nav background stretch the whole width of the screen. -->
            <table width="650px" cellspacing="0" cellpadding="3" class="container">
                <tr class="navbar navbar-inverse">
                    <td colspan="4" style="text-align: center"><a class="brand" href="https://http://localhost:3000/" style="color: #0aa5df">Geekshubs Travels</a></td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td bgcolor="#FFFFFF" align="center">
            <table width="650px" cellspacing="1" cellpadding="3" class="container">
                <tr>
                    <td style="color:#fff;">Gracias por registrarse en el sitio web de Geekshubs Travels, solo falta un paso más para que pueda utilizar su cuenta!
                        Haga click en el siguiente enlace para activarla:</td>

                </tr>
                <tr>
                    <td><a style="color: #0aa5df;" href="https://localhost:3000/activate/{{hash}}">Enlace de activación</a></td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td bgcolor="#FFFFFF" align="center">
            <table width="650px" cellspacing="0" cellpadding="3" class="container">

                <tr>
                    <td>
                        <hr>
                        <p style="color: #898989">Geekshubs Travels Copyright 2018</p>
                    </td>

                </tr>
                <tr><td style="font-size: 10px; color: #898989">Este es un mensaje automatizado, por favor no responder.</td></tr>
            </table>
        </td>
    </tr>
</table>
</body>
</html>